*.iml
.idea/

## File-based project format:
*.ipr
*.iws

# IntelliJ
/out/

### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

properties
sia-core/src/main/resources

*.DS_Store

target


